
<div id="pagingBar" class="navbar">
    <div class="container">
        <ul class="nav nav-pills">
            <li>
                <a href="~/Tags/a">a</a>
            </li>
            <li>
                <a href="#">abbr</a>
            </li>
            <li>
                <a href="#">otherSampleTags</a>
            </li>
        </ul>
    </div>
</div>
