@{
    ViewData["Title"] = "a";
}
@{
    Html.RenderPartial("_PagingPartial");
}

<h2>&lt;a&gt;&lt;/a&gt;</h2>

<h3>Desciption of what the tag does</h3>

<div class="example-area">
    <a href="#">Example of its usage</a>
</div>

<p>List of all the attributes usable by this tag (e.g. href, id, title...etc.)</p>