@{
    ViewData["Title"] = "Home Page";
}
@{
    Html.RenderPartial("_PagingPartial");
}

<h2>Round and around we go!</h2>

<h3>I keep running into HTML tags I've never heard of, so here's an attempt to remedy that...</h3>
<p>Special thanks to <a href="https://www.w3schools.com/tags/">https://www.w3schools.com/tags/</a> for the info!</p>